In [1]:
import pandas as pd
import monipy.utils.database as database

In [18]:
#DATASETS = ["sandor", "uka_corvolution", "uka_klinik", "uka_movisens", "ukt_movisens", "freiburg"]
DATASETS = ["uka_corvolution", "uka_klinik"]
USEABLE = "useable_yes"
FILTER = 3

In [19]:
    for dataset in DATASETS:
        df_regular = pd.read_csv(f"data/{USEABLE}/filter_{FILTER}/{dataset}_regular_data_{FILTER}.csv", index_col=[0], header=[0,1])
        df_seizure = pd.read_csv(f"data/{USEABLE}/filter_{FILTER}/{dataset}_seizure_data_{FILTER}.csv", index_col=[0], header=[0,1])

        df_regular.columns = df_regular.columns.map("_".join)
        df_seizure.columns = df_seizure.columns.map("_".join)
        # rename column
        df_regular = df_regular.rename(columns={"record_id_Unnamed: 2092_level_1": "record_id"})
        df_seizure = df_seizure.rename(columns={"record_id_Unnamed: 2092_level_1": "record_id"})
        # get patient ids and join
        df_regular = df_regular.merge(database.get_patients_from_records(df_regular.record_id.unique()), on="record_id", how="left")
        df_seizure = df_seizure.merge(database.get_patients_from_records(df_seizure.record_id.unique()), on="record_id", how="left")
        # get patient data
        df_patients = database.get_all_patients()
        # join patient data
        df_regular = df_regular.merge(df_patients, left_on="patient_id", right_on="id", how="left")
        df_seizure = df_seizure.merge(df_patients, left_on="patient_id", right_on="id", how="left")
        # add label column
        df_seizure["seizure"] = 1
        df_regular["seizure"] = 0
        # join regular and seizure data together
        df = pd.concat([df_seizure, df_regular], ignore_index=True)
        df.to_csv(f"data/{USEABLE}/filter_{FILTER}/{dataset}_full.csv")

[creating new connection]
[creating new connection]
[creating new connection]
[creating new connection]
[creating new connection]
[creating new connection]

In [6]:
DATASET = "uka_corvolution"
# read data
df_regular = pd.read_csv(f"data/{USEABLE}/filter_{FILTER}/{DATASET}_regular_data_{FILTER}.csv", index_col=[0], header=[0,1])
df_seizure = pd.read_csv(f"data/filter_{FILTER}/{DATASET}_seizure_data_filter_{FILTER}.csv", index_col=[0], header=[0,1])

df_regular.columns = df_regular.columns.map("_".join)
df_seizure.columns = df_seizure.columns.map("_".join)

In [7]:
# rename column
df_regular = df_regular.rename(columns={"record_id_Unnamed: 2092_level_1": "record_id"})
df_seizure = df_seizure.rename(columns={"record_id_Unnamed: 2092_level_1": "record_id"})

In [8]:
# get patient ids and join
df_regular = df_regular.merge(database.get_patients_from_records(df_regular.record_id.unique()), on="record_id", how="left")
df_seizure = df_seizure.merge(database.get_patients_from_records(df_seizure.record_id.unique()), on="record_id", how="left")

[creating new connection]

In [9]:
# get patient data
df_patients = database.get_all_patients()

[creating new connection]

## Join Patient Data

In [10]:
# join patient data
df_regular = df_regular.merge(df_patients, left_on="patient_id", right_on="id", how="left")
df_seizure = df_seizure.merge(df_patients, left_on="patient_id", right_on="id", how="left")

In [11]:
# add label column
df_seizure["seizure"] = 1
df_regular["seizure"] = 0

In [12]:
# join regular and seizure data together
df = pd.concat([df_seizure, df_regular], ignore_index=True)
df = pd.concat([df_regular], ignore_index=True)

In [13]:
df.to_csv(f"data/{USEABLE}/filter_{FILTER}/{DATASET}_full.csv")

## Exploration of patient data

In [122]:
df_patients = database.get_all_patients()

[creating new connection]

In [123]:
df_patients[df_patients.weight != 0]

,id,local_patient_id,recording_center,name,firstname,birthday,sex,weight,height,comment,do_ignore,use_for_training,epilepsy_onset
0,1,1059,ukt,H,J,1987-11-19,m,70,180,,0,1,-1
1,2,1073,ukt,K,K,1987-11-11,m,85,180,,0,1,-1
2,3,1074,ukt,M,M,1980-01-01,m,100,189,,0,1,-1
3,4,1075,ukt,S,C,1994-07-20,f,60,165,,0,1,-1
4,5,1076,ukt,B,W,2003-09-12,f,60,165,,0,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,2751,4369,kw,,,1967-01-09,m,86,173,,0,1,-1
1055,2752,4376,kw,,,1997-01-15,m,70,190,,0,1,-1
1056,2753,4424,kw,,,1991-03-02,f,124,179,,0,1,-1
1057,2754,4434,kw,,,1964-03-09,f,52,154,,0,1,-1
1058,2755,4450,kw,,,1981-03-19,f,43,164,,0,1,-1

In [124]:
df_patients[df_patients.height != 0]

,id,local_patient_id,recording_center,name,firstname,birthday,sex,weight,height,comment,do_ignore,use_for_training,epilepsy_onset
0,1,1059,ukt,H,J,1987-11-19,m,70,180,,0,1,-1
1,2,1073,ukt,K,K,1987-11-11,m,85,180,,0,1,-1
2,3,1074,ukt,M,M,1980-01-01,m,100,189,,0,1,-1
3,4,1075,ukt,S,C,1994-07-20,f,60,165,,0,1,-1
4,5,1076,ukt,B,W,2003-09-12,f,60,165,,0,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,2751,4369,kw,,,1967-01-09,m,86,173,,0,1,-1
1055,2752,4376,kw,,,1997-01-15,m,70,190,,0,1,-1
1056,2753,4424,kw,,,1991-03-02,f,124,179,,0,1,-1
1057,2754,4434,kw,,,1964-03-09,f,52,154,,0,1,-1
1058,2755,4450,kw,,,1981-03-19,f,43,164,,0,1,-1

In [125]:
df_patients.groupby("birthday")["id"].count()

birthday
1900-01-01    35
1933-05-31     1
1935-01-20     1
1935-04-12     1
1935-10-19     1
              ..
2011-08-19     1
2012-12-02     1
2018-06-17     1
2019-04-23     1
2019-05-13     1
Name: id, Length: 842, dtype: int64

In [126]:
df_patients.groupby("sex")["id"].count()

sex
f    485
m    471
u    124
Name: id, dtype: int64